<hr>
<h1 style="text-align: center;">HEROES</h1>

<h2>{{ nombre }}</h2>

<dl>
    <td>Nombre: </td>
    <dd> {{ nombre }} </dd>

    <td>Edad: </td>
    <dd> {{ edad }} </dd>

    <td>Función: </td>
    <dd> {{ obtenerNombre() }} </dd>

    <td>Capitalizado: </td>
    <dd> {{ nombreCapitalizado }} </dd>
</dl>

<button (click)="cambiarNombre()">
    Cambiar Heroe
</button>

<button (click)="cambiarEdad()">
    Cambiar edad
</button>