<h1> Dragon ball z</h1>
<hr>

<div class="row">
    <div class="col">
        <app-personajes></app-personajes>
    </div>
    <div class="col">
        <app-agregarPersonaje [nuevo]="nuevo"></app-agregarPersonaje>
    </div>
</div>