<h1 style="text-align: center; color:blue">{{titulo}}</h1>

<!-- <app-contador></app-contador> -->
<!-- <app-listado></app-listado> -->
<!-- <app-heroe></app-heroe> -->
<app-main-page></app-main-page>